.btnStyle {
    margin-left: "2.5rem";
  }
.cardMargin {
    margin-bottom: "1rem";
  }
img {
    width: 300px;
    height: 250px;
    transition: all "0.3s" ease;
  }
img:hover {
    transform: scale(1.1);
}