.card{
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}